*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}
#game{
width: 400px;
height: 600px;
background-color: skyblue;
position: relative;
overflow: hidden;
}

#bird{
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 60px;
}

#score{
  position: absolute;
  top: 10px;
  left: 10px;
}

.pipe{
  background-color: green;
  width: 60px;
  position: absolute;
}