@font-face {
    font-family: primary;
    src: url('./PTSans-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
}

main{
    width: 100%;
    background-color: #060503;
    color: #E1E0DE;
    padding: 20px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: primary;
}

.links{
    display: flex;
    gap: 20px;
}

.links h3{
    background-color: #1E1E1E;
    padding: 6px 12px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    font-weight: normal;
}

.links button{
    background-color: #EE6C57;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-family: primary;
    text-transform: uppercase;
    font-weight: bold;
}

.heroImg{
    width: 100%;
    height: 600px;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url('./bgi.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 50px;
}

.heroImg h1{
    font-family: primary;
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 100;
}

.heroImg h1 span{
    margin-left: 100px;
}

.btmContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px;

}
.btmContainer p{
    font-family: primary;
    font-size: 20px;
    width: 50%;
    margin-left: 100px;
    opacity: 0.8;
}
.btmtext{
    display: flex;
    align-items: center;
    gap: 15px;
    opacity: 0.8;
    /* padding: 0px 50px; */
}

.btmtext button{
    background-color: #aeaeae70;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: #E1E0DE;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btmtext button i{
    font-size: 25px;
    
}

.btmtext h5{
    font-family: primary;
    font-size: 14px;
    text-transform: uppercase;
}


.infoContainer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.info{
    width: 24%;
    background-color: #1E1E1E;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.info h2{
    font-family: primary;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

.info p{
    font-family: primary;
    font-size: 14px;
    opacity: 0.8;
}

.content{
    width: 100%;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.elem h5{
    font-family: primary;
    font-size: 14px;
    text-transform: uppercase;
}

.elem h2{
    font-family: primary;
    font-size: 40px;
    font-weight: 100;
}

.aboutContainer{
    width: 100%;
   display: flex;
    margin-top: 30px;
    gap: 10px;
}

.aboutContainer .left{
    width: 50%;
    background-color: #1E1E1E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    
}


.left h3{
font-family: primary;
font-size: 20px;
}
.left div h1{
    font-family: primary;
    font-size: 50px;
    font-weight: 100;
    margin: 20px 0px;
    line-height: 50px;
}


.aboutContainer .right{
   width: 50%;
   border-radius: 10px;
   overflow: hidden;
}

.right img{
    width: 100%;
    object-fit: cover;
}

.txt{
    display: flex;
}

.txt p{
    font-family: primary;
   font-size: 16px;
    opacity: 0.8;
}

.advtext{
    font-size: 40px;
    font-family: primary;
    margin-top: 30px;
    margin-left: 50px;
}

.bottomContainer{
 width: 100%;
 margin-top: 30px;
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.top{
    width: 100%;
    display: flex;
    gap: 10px;
    
}

.btmleft{
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}
.btmleft img{
    width: 100%;
    object-fit: cover;
}
.btmright{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px; 

}

.btmright .rightText{
width: 100%;
background-color: #1E1E1E;
padding: 30px;
border-radius: 10px;
}
.elemText{
    width: 100%;
    display: flex;
justify-content: space-between;
align-items: end;
    
}
.elemText p{
    font-family: primary;
    font-size: 16px;
    opacity: 0.8;
    width: 50%;
}
.elemText .txt2{
    display: flex;
    align-items: center; 
    gap: 10px;  
}

.txt2 button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4f4e4e4e;
    border: 1px solid #fff;
    color: #fff;
}

.txt2 h5{
    font-family: primary;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.8;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}